<ion-view title="Call" hide-back-button="true">
  <ion-content>
    <div class="calling-container" ng-if="isCalling && !callInProgress">
      <p>Calling to <span class="balanced">{{ contactName }}</span>...</p>

      <button class="button button-assertive" ng-click="ignore()">
        Nevermind
      </button>
    </div>

    <div class="calling-container" ng-if="!isCalling && !callInProgress">
      <p><span class="balanced">{{ contactName }}</span> is calling you</p>

      <button class="button button-positive" ng-click="answer()">
        Answer
      </button>

      <button class="button button-assertive" ng-click="ignore()">
        Ignore
      </button>
    </div>

    <div class="calling-container" ng-if="callInProgress">
      <p>Call in progress...</p>
    </div>

    <div id="localVideo" style="width:200px; height:200px;background-color:green;margin-bottom:20px;"></div>
    <div id="remoteVideo" style="width:200px; height:200px;background-color:red;margin-bottom:20px;"></div>

  </ion-content>
</ion-view>