<ion-view title="Call" hide-back-button="true">
  <ion-content>
    <div class="calling-container" ng-if="isCalling && !callInProgress">
      <p>Calling to <span class="balanced">{{ contactName }}</span>...</p>

      <button class="button button-assertive" ng-click="ignore()">
        Nevermind
      </button>
    </div>

    <div class="calling-container" ng-if="!isCalling && !callInProgress">
      <p><span class="balanced">{{ contactName }}</span> is calling you</p>

      <button class="button button-positive" ng-click="answer()">
        Answer
      </button>

      <button class="button button-assertive" ng-click="ignore()">
        Ignore
      </button>
    </div>

    <div class="calling-container" ng-if="callInProgress">
      <p>Call in progress...</p>
    </div>
  </ion-content>
</ion-view>