<ion-view title="Call" hide-back-button="true">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon"
            ng-class="{ 'ion-ios7-mic-off': muted, 'ion-ios7-mic': !muted }"
            ng-click="toggleMute()"
            ng-if="cordova.platformId === 'ios' || cordova.platformId === 'android'"></button>
    <button class="button button-icon icon ion-plus-round" 
            ng-click="openSelectContactModal()"></button>
  </ion-nav-buttons>
  <ion-content on-scroll="updateVideoPosition()" on-scroll-complete="updateVideoPosition()">
    <div class="calling-container" ng-if="isCalling && !callInProgress">
      <p>Calling to <span class="balanced">{{ contactName }}</span>...</p>

      <button class="button button-assertive" ng-click="ignore()">
        Nevermind
      </button>
    </div>

    <div class="calling-container" ng-if="!isCalling && !callInProgress">
      <p><span class="balanced">{{ contactName }}</span> is calling you</p>

      <button class="button button-positive" ng-click="answer()">
        Answer
      </button>

      <button class="button button-assertive" ng-click="ignore()">
        Ignore
      </button>
    </div>

    <div class="calling-container" ng-if="callInProgress">
      <p>
        Call in progress...
      </p>

      <button class="button button-assertive" ng-click="end()">
        End
      </button>
    </div>

    <video-view></video-view>

  </ion-content>
</ion-view>