<ion-view title="Login">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
    </div>

    <div class="padding">
      <button class="button button-block button-positive">Login</button>
      <button class="button button-block button-assertive">Register</button>
    </div>
  </ion-content>
</ion-view>