<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.dooble.phonertc"
    version="2.0.0">

    <name>PhoneRTC</name>
    <description></description>
    <license></license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>    

    <js-module src="www/phonertc.js" name="PhoneRTC">
        <clobbers target="cordova.plugins.phonertc" />
    </js-module>
	
    <platform name="ios">
		<info>---------------------
PhoneRTC Installation
---------------------

In order to install PhoneRTC on iOS, please follow these steps:

1) Go platforms/ios and click on [ProjectName].xcodeproj to open it with XCode
2) Go to your project settings
3) In `General`, change `Deployment Target` to 7.0 or above
4) Go to `Build Settings` and change:

      `Valid Architectures` => armv7
      `Build Active Architecture Only` => No
      `Objective-C Bridging Header` => 
           [ProjectName]/Plugins/com.dooble.phonertc/Bridging-Header.h
      `Runpath Search Paths` => 
           $(inherited) @executable_path/Frameworks

5) Repeat step #4 for the CordovaLib project
</info>

        <config-file target="config.xml" parent="/*">
			<feature name="PhoneRTCPlugin">
				<param name="ios-package" value="PhoneRTCPlugin" />
			</feature>
        </config-file>

		<header-file src="src/ios/RTCAudioSource.h" />
		<header-file src="src/ios/RTCAudioTrack.h" />	
		<header-file src="src/ios/RTCDataChannel.h" />
		<header-file src="src/ios/RTCEAGLVideoView.h" />
		<header-file src="src/ios/RTCI420Frame.h" />
		<header-file src="src/ios/RTCICECandidate.h" />
		<header-file src="src/ios/RTCICEServer.h" />
		<header-file src="src/ios/RTCMediaConstraints.h" />
		<header-file src="src/ios/RTCMediaSource.h" />
		<header-file src="src/ios/RTCMediaStream.h" />
		<header-file src="src/ios/RTCMediaStreamTrack.h" />
		<header-file src="src/ios/RTCNSGLVideoView.h" />
		<header-file src="src/ios/RTCOpenGLVideoRenderer.h" />
		<header-file src="src/ios/RTCPair.h" />
		<header-file src="src/ios/RTCPeerConnection.h" />
		<header-file src="src/ios/RTCPeerConnectionDelegate.h" />
		<header-file src="src/ios/RTCPeerConnectionFactory.h" />
		<header-file src="src/ios/RTCSessionDescription.h" />
		<header-file src="src/ios/RTCSessionDescriptionDelegate.h" />
		<header-file src="src/ios/RTCStatsDelegate.h" />
		<header-file src="src/ios/RTCStatsReport.h" />
		<header-file src="src/ios/RTCTypes.h" />
		<header-file src="src/ios/RTCVideoCapturer.h" />
		<header-file src="src/ios/RTCVideoRenderer.h" />
		<header-file src="src/ios/RTCVideoSource.h" />
		<header-file src="src/ios/RTCVideoTrack.h" />

		<header-file src="src/ios/Bridging-Header.h" />
		
        <source-file src="src/ios/PhoneRTCPlugin.swift" />
		<source-file src="src/ios/PCObserver.swift" />
		<source-file src="src/ios/Session.swift" />
        <source-file src="src/ios/Config.swift" />
		<source-file src="src/ios/SessionDescriptionDelegate.swift" />

		<framework src="libc++.dylib" />
        <framework src="libstdc++.dylib" />
		<framework src="libsqlite3.0.dylib" />	
        <framework src="OpenGLES.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreAudio.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="QuartzCore.framework" />		
        <framework src="AssetsLibrary.framework" />
        <framework src="CoreGraphics.framework" />			
        <framework src="MobileCoreServices.framework" />
		<framework src="CoreLocation.framework" />
		<framework src="AudioToolbox.framework" />
		<framework src="GLKit.framework" />

		<source-file src="libs/ios/libjingle_p2p.a" framework="true" />
		<source-file src="libs/ios/lib_core_neon_offsets.a" framework="true" />
		<source-file src="libs/ios/libaudio_coding_module.a" framework="true" />
		<source-file src="libs/ios/libaudio_conference_mixer.a" framework="true" />
		<source-file src="libs/ios/libaudio_device.a" framework="true" />
		<source-file src="libs/ios/libaudio_processing_neon.a" framework="true" />
		<source-file src="libs/ios/libaudio_processing.a" framework="true" />
		<source-file src="libs/ios/libbitrate_controller.a" framework="true" />
		<source-file src="libs/ios/libCNG.a" framework="true" />
		<source-file src="libs/ios/libcommon_audio_neon.a" framework="true" />
		<source-file src="libs/ios/libcommon_audio.a" framework="true" />
		<source-file src="libs/ios/libcommon_video.a" framework="true" />
		<source-file src="libs/ios/libcrnspr.a" framework="true" />
		<source-file src="libs/ios/libcrnss.a" framework="true" />
		<source-file src="libs/ios/libcrnssckbi.a" framework="true" />
		<source-file src="libs/ios/libcrssl.a" framework="true" />
		<source-file src="libs/ios/libexpat.a" framework="true" />
		<source-file src="libs/ios/libfield_trial_default.a" framework="true" />
		<source-file src="libs/ios/libG711.a" framework="true" />
		<source-file src="libs/ios/libG722.a" framework="true" />
		<source-file src="libs/ios/libicudata.a" framework="true" />
		<source-file src="libs/ios/libicui18n.a" framework="true" />
		<source-file src="libs/ios/libicuuc.a" framework="true" />
		<source-file src="libs/ios/libiLBC.a" framework="true" />
		<source-file src="libs/ios/libisac_neon.a" framework="true" />
		<source-file src="libs/ios/libiSAC.a" framework="true" />
		<source-file src="libs/ios/libiSACFix.a" framework="true" />
		<source-file src="libs/ios/libjingle_media.a" framework="true" />
		<source-file src="libs/ios/libjingle_peerconnection_objc.a" framework="true" />
		<source-file src="libs/ios/libjingle_peerconnection.a" framework="true" />
		<source-file src="libs/ios/libjsoncpp.a" framework="true" />
		<source-file src="libs/ios/libmedia_file.a" framework="true" />
		<source-file src="libs/ios/libneteq.a" framework="true" />
		<source-file src="libs/ios/libnss_static.a" framework="true" />
		<source-file src="libs/ios/libmetrics_default.a" framework="true" />
		<source-file src="libs/ios/librtc_p2p.a" framework="true" />
		<source-file src="libs/ios/libwebrtc_vp9.a" framework="true" />
		<source-file src="libs/ios/librtc_xmpp.a" framework="true" />
		<source-file src="libs/ios/libopus.a" framework="true" />
		<source-file src="libs/ios/libpaced_sender.a" framework="true" />
		<source-file src="libs/ios/libPCM16B.a" framework="true" />
		<source-file src="libs/ios/librbe_components.a" framework="true" />
		<source-file src="libs/ios/libremote_bitrate_estimator.a" framework="true" />
		<source-file src="libs/ios/librtc_base_approved.a" framework="true" />
		<source-file src="libs/ios/librtc_base.a" framework="true" />
		<source-file src="libs/ios/librtc_sound.a" framework="true" />
		<source-file src="libs/ios/librtc_xmllite.a" framework="true" />
		<source-file src="libs/ios/librtp_rtcp.a" framework="true" />
		<source-file src="libs/ios/libsqlite_regexp.a" framework="true" />
		<source-file src="libs/ios/libsrtp.a" framework="true" />
		<source-file src="libs/ios/libsystem_wrappers.a" framework="true" />
		<source-file src="libs/ios/libusrsctplib.a" framework="true" />
		<source-file src="libs/ios/libvideo_capture_module_internal_impl.a" framework="true" />
		<source-file src="libs/ios/libvideo_capture_module.a" framework="true" />
		<source-file src="libs/ios/libvideo_coding_utility.a" framework="true" />
		<source-file src="libs/ios/libvideo_engine_core.a" framework="true" />
		<source-file src="libs/ios/libvideo_processing.a" framework="true" />
		<source-file src="libs/ios/libvideo_render_module_internal_impl.a" framework="true" />
		<source-file src="libs/ios/libvideo_render_module.a" framework="true" />
		<source-file src="libs/ios/libvoice_engine.a" framework="true" />
		<source-file src="libs/ios/libvpx_asm_offsets_vp8.a" framework="true" />
		<source-file src="libs/ios/libvpx_asm_offsets_vpx_scale.a" framework="true" />
		<source-file src="libs/ios/libvpx.a" framework="true" />
		<source-file src="libs/ios/libwebrtc_common.a" framework="true" />
		<source-file src="libs/ios/libwebrtc_i420.a" framework="true" />
		<source-file src="libs/ios/libwebrtc_opus.a" framework="true" />
		<source-file src="libs/ios/libwebrtc_utility.a" framework="true" />
		<source-file src="libs/ios/libwebrtc_video_coding.a" framework="true" />
		<source-file src="libs/ios/libwebrtc_vp8.a" framework="true" />
		<source-file src="libs/ios/libwebrtc.a" framework="true" />
		<source-file src="libs/ios/libyuv_neon.a" framework="true" />
		<source-file src="libs/ios/libyuv.a" framework="true" />
    </platform>

    <platform name="android">
        <source-file src="src/android/com/dooble/phonertc/PhoneRTCPlugin.java" target-dir="src/com/dooble/phonertc" />
        <source-file src="src/android/com/dooble/phonertc/Session.java" target-dir="src/com/dooble/phonertc" />
		<source-file src="src/android/com/dooble/phonertc/SessionConfig.java" target-dir="src/com/dooble/phonertc" />
        <source-file src="src/android/com/dooble/phonertc/VideoGLView.java" target-dir="src/com/dooble/phonertc" />
    	<source-file src="src/android/com/dooble/phonertc/VideoConfig.java" target-dir="src/com/dooble/phonertc" />
    	<source-file src="src/android/com/dooble/phonertc/VideoTrackRendererPair.java" target-dir="src/com/dooble/phonertc" />
    	
        <config-file target="res/xml/config.xml" parent="/*">
			<feature name="PhoneRTCPlugin">
				<param name="android-package" value="com.dooble.phonertc.PhoneRTCPlugin" />
			</feature>	
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-feature android:name="android.hardware.camera" />
			<uses-feature android:name="android.hardware.camera.autofocus" />
			<uses-feature android:glEsVersion="0x00020000" android:required="true"></uses-feature>		
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.CAMERA" />
        </config-file>

        <source-file src="libs/android/libjingle_peerconnection.jar" target-dir="libs"/>
		<source-file src="libs/android/armeabi-v7a/libjingle_peerconnection_so.so" target-dir="libs/armeabi-v7a"/>
    </platform>

    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="PhoneRTCPlugin">
                <param name="browser-package" value="PhoneRTCPlugin" />
            </feature>
        </config-file>

        <js-module src="src/browser/PhoneRTCProxy.js" name="PhoneRTCProxy">
            <runs />
        </js-module>    
    </platform>
</plugin>
