.progress-bar-icon {
	font-size: 36px;
	margin: auto;
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0; 
	height: 36px;
	width: 36px;
	z-index: 3;
}

.calling-container {
	text-align: center;
	margin-top: 100px;
}

.calling-container p {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}